body {
    font-family: sans-serif;
    color: #eae4e4;
    background-color: #151517;
}

#projects {
    display: flex;
    margin: auto;
    width: max-content;
    padding: 25px;
}

.app {
    background-color:#1a2227;
    display: flexbox;
    border-radius: 10px;
    width: max-content;
    text-align: center;
    padding: 5px;
    height: 360px;
    margin: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.app:hover {box-shadow: black 0px 0px 40px; text-shadow: #1a2227 5px; scale: 1.05;}

.icon {width: 200px; height: auto;}
.desc {width: 190px; padding-top: 5%;}