body {font-family: Arial, Helvetica, sans-serif; width: max-content; min-width: 90vw}
#errorbox {background-color: red; display: none;}
footer {
    position: absolute;
    bottom: 10px;
    width: max-content;
  }
#import-and-exportcode {padding: 5px;}
#encodedinput {width: 100%;}
#rawdecoded {width:90%;}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.block {height: 80px;
  image-rendering: optimizeSpeed;             /*                     */
  image-rendering: -moz-crisp-edges;          /* Firefox             */
  image-rendering: -o-crisp-edges;            /* Opera               */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
  image-rendering: pixelated;                 /* Chrome as of 2019   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}
#codepanel {
  position: fixed;
  padding: 5px;
}