@font-face {
    font-family: Minecraft;
    src: url("Minecraft.otf") format("opentype");
    font-weight: 100;letter-spacing: -0.016em;line-height: 1.4;font-size: 17px;
}

@keyframes slideup {
    0%{top: 100%;}
    100%{top: 0%;}}

@keyframes fadeout {
    0%{opacity: 100%;}
    100%{opacity: 0%; display: none;}
}

.fadeout {
    animation: fadeout 0.2s;
}

body {
    background-color: #151517; 
    color: #eae4e4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    overflow-y: hidden;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}
html{
    cursor: wait;
    height: 100%;
}

header {
    display: flex;
    left: 0.5%;
    top: -21.44px;
    position:fixed;
}
#footer{
    position: fixed;
    display: flex;
    width: 98%;
    bottom: 0%;
    right: 0%;
    margin: 1%;
}

#dc {
    height: 40px;
    width: 40px;
    top: 20px;
    position: relative;
    left: 10px;
}
#export {
    position: fixed;
    right: 10px;
    top: 3px;
    font-size:xx-large;
}
#export:hover{
    text-decoration: underline;
    cursor: pointer;
}
#settings{
    position: fixed;
    top: 3px;
    right: 110px;
}

#codeimport {margin: auto; margin-top: 1%; width: 75%; height: 75%; background-color: #1a2227; padding: 5%; border-radius: 20px; position: relative; animation: slideup 0.3s 1;}


#importassist {margin-top: 5%;}
#importassist a {color: #f76300;}


.sign {
    background-image: url(images/normal/sign.png);
    background-size: contain;
    width: 170px;
    margin-top: 43px;
    text-align: center;
}
.sign span {
    font-family: 'Minecraft';
    color: black;
    display: block;
    height: 21px;
    width: 170px;
    text-overflow: clip;
}
.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

#codespace{
    background-color: #1a2227;
    border-radius: 10px;
    padding: 10px;
    width: max-content;
    margin-top: 43px;
    display: flex;
}
#stuff {
    display: flex;
}

.player_action {background-image: url("images/normal/player_action.png");}
.if_player {background-image: url("images/normal/if_player.png");}
.start_process {background-image: url("images/normal/start_process.png");}
.call_func {background-image: url("images/normal/call_func.png");}
.control {background-image: url("images/normal/control.png");}
.set_var {background-image: url("images/normal/set_var.png");}
.entity_event {background-image: url("images/normal/entity_event.png");}
.event {background-image: url("images/normal/event.png");}
.func {background-image: url("images/normal/func.png");}
.if_entity {background-image: url("images/normal/if_entity.png");}
.entity_action {background-image: url("images/normal/entity_action.png");}
.if_var {background-image: url("images/normal/if_var.png");}
.select_obj {background-image: url("images/normal/select_obj.png");}
.game_action {background-image: url("images/normal/game_action.png");}
.else {background-image: url("images/normal/else.png");}
.process {background-image: url("images/normal/process.png");}
.repeat {background-image: url("images/normal/repeat.png");}
.if_game {background-image: url("images/normal/if_game.png");}
.open {background-image: url("images/normal/open.png");}
.opens {background-image: url("images/normal/opens.png");}
.close {background-image: url("images/normal/close.png");}
.closes {background-image: url("images/normal/closes.png");}

.block {width: 170px; height: 170px; background-size: 170px; transition: .2s;}
.codehover{
    opacity: 0.6;
}

#overlay {
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20,20,20,0.5); 
    z-index: 2;
    animation-play-state: initial;
}

#menu {
    margin: auto;
    background-color: #1a2227;
    width: 75vw;
    height: 70%;
    margin-top: 5%;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    animation: slideup 0.3s 1;
}
.slide{
    animation-name: "slide";
    animation-duration: 0.35s;
}
#menu>div {
    display: grid;
}


input, textarea, select, button {
    border-color: #736b5e;
	color: #e8e6e3;
    background-color: #181a1b;
    cursor: pointer;
}

select {width: max-content;}


input[type="checkbox"] {
    opacity: 0.6;
    appearance: none;
    position: relative;
    display: inline-flex;
    width: 14px;
    height: 14px;
    top: 0.2em;
    border: 2px solid #736b5e;
    border-radius: 4px;
    outline: 0;
    transition: 0.3s;
}
input[type="checkbox"]:checked{
    background-color: #f76300;
    content: url("images/check.svg");
}
input[type="checkbox"]:hover{
    opacity: initial;
}

.codedrag{
    width: 5%;
    cursor: grab;
}

.codedrag{
    transition: 0.1s;
}
.codedrag:hover{
    scale: 1.1;
}

#inventory{
    margin-top: 1%;
    display: grid;
}

#inventory > div {
    border: 5px solid transparent;
    border-image: url(images/border.png) 5 stretch;
    background-color: #c6c6c6;
    border-radius: 6px;
    width: min-content;
}

.slot{
    background-image: url(images/slot.png);
    background-size: cover;
    display: flex;
    height: 2vw;
    width: 2vw;
}

.slot:hover > img {
    filter: saturate(1.3) brightness(1.2);
    scale: 1.1;
}

.slot > img {
    height: 85%;
    width: 85%;
    margin: auto;
    transition: 0.1s;
    
}

.row{
    width: min-content;
    display: flex;
}

.slot:hover{
    background-image: url(images/slothover.png);
}

.mcfont{
    font-family: 'Minecraft';
    color: #3f3f3f;
    margin: 0%;
}

#tooltip{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    white-space: nowrap;
    width: min-content;
    font-family: 'Minecraft';
    background-color: #1e0f1ede;
    border: #260a4dde 3px solid;
    outline: #1e0f1ede 3px solid;
    padding: 2px;
    cursor: crosshair;
}
.white{color: #fff;}
.lightgray{color: #AAA;}
.blue {color: #55F;}
.aqua {color: #5FF;}
.yellow {color: #FF5;}
.green {color: #5F5;}
.red {color: #F55;}
.emptytext{color: #808080;}